{% extends 'base.html.twig' %}

{% block body %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>

    <!-- Principal Pagina -->
    <div class="container" style="height: 100%; width: 100%">
    <h4>Visitas Recibidas</h4>

        {# dump(pedidos) #}
    <div class="card-body">
       <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Num Visitas</th>
            </tr>
            </thead>
                {% for visita in visitas %}
                    <tr>
                        <td> {{ visita.id }}</td>
                        <td> {{ visita.fecha | date('d/m/Y') }}</td>
                        <td> {{ visita.numvisitas }}</td>
                    </tr>

                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}